article
{
    padding-bottom: 10px;
    padding-right: 5px;
    flex: 5;
}

article > h3
{
    color: #606060;
    margin-top: 0;
}

aside
{
    color: #CCCCCC;
    display: flex;
    height: fit-content;
    flex: 2;
}

section
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#about
{
    background-color: rgb(111, 106, 99);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#about img:hover
{
    color: rgb(81, 76, 79);
    border-top: 1px solid currentColor;
    border-left: 1px solid currentColor;
    box-shadow: 1px 1px 0 currentColor;
}

#body
{
    margin: 0;
    padding: 30px 50px;
}

#bubble_arrow
{
    align-self: center;
}

#img_section
{
    background-image: url('../images/sanfrancisco.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    box-shadow: 0 2px 1px black;
    color: white;
    width: 100%;
}

#img_section > img
{
    opacity: 0;
    width: 100%;
}

#img_section > div
{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 5px;
}

#look_btn:hover
{
    background: rgb(255, 50, 50);
}

#look_btn:active
{
    background: rgb(255, 0, 0);
}

#look_btn
{
    background-image: url('../images/fond_degraderouge.png');
    background-size: contain;
    border: 1px solid rgb(119, 1, 2);
    border-radius: 5px;
    display: flex;
    padding: 7px 5px;
}

#reseaux
{
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    width: 100%;
}